* {
  box-sizing: border-box;
}

:root {
  --primary: #0f1b4c;
  --white: #ffffff;
  --blue-1: #e6f0ff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* ================= Common ================= */
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 100px;
  padding: 18.5px 20px;
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
  color: var(--white);
  background: var(--primary);
  border-radius: 12px;
}

.btn:hover {
  opacity: 0.9;
}

.row {
  display: flex;
  align-items: center;
}

.row.space {
  justify-content: space-between;
}

.row.center {
  justify-content: center;
}

a {
  text-decoration: none;
}

/* ================= Header ================= */
.header {
  height: 100vh;
  padding-top: 38px;
  background-color: var(--blue-1);
  position: relative;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .logo-img {
  display: block;
}

.header .menu-list {
  margin-left: 64px;
  display: flex;
}

.header .menu-link {
  padding: 14px;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
}

.header .menu-link:hover {
  text-decoration: underline;
}

.header .actions {
  margin-left: auto;
}

.header .sign-in {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary);
}

.header .btn-sign-up {
  margin-left: 18px;
  padding: 13px 18px;
  font-size: 1.4rem;
  line-height: 1;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
  width: 51.4%;
}

.hero .sub-heading {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero .heading {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 118.75%;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 177.778%;
}

.hero .action {
  margin-top: 40px;
  min-width: 170px;
}

.hero .hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100% - 1110px) / 2 - 100px);
}

/* ================= Header ================= */
.client {
  margin-top: 79px;
  padding-top: 43px;
  padding-bottom: 41px;
}

.client .desc {
  margin-top: 16px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
}

.client-logos {
  margin-top: 70px;
}

/* ================= Header ================= */
.guide {
  margin-top: 40px;
  padding-top: 79px;
  padding-bottom: 79px;
}

.guide-text-box {
  text-align: center;
}

.guide .sub-heading {
  font-size: 3.5rem;
  font-weight: 600;
  position: relative;
}

.guide .sub-heading::before {
  content: "";
  width: 41px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background: #000339;
}

.guide .desc {
  width: 459px;
  margin: 20px auto 0;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.guide-list {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-list .title {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
}

.guide-link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
}

.guide-link .icon-arrow {
  margin-left: 8px;
}

.guide .btn-action {
  min-width: 170px;
  margin-top: 50px;
}
