* {
  box-sizing: border-box;
}

:root {
  --primary: #0f1b4c;
  --heading: #000339;
  --text-desc: #5a6473;
  --white: #ffffff;
  --blue-1: #e6f0ff;
  --link: #0689ff;

  --padding-nav: 16px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* ================= Common ================= */
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 100px;
  padding: 18.5px 20px;
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
  color: var(--white);
  background: var(--primary);
  border-radius: 12px;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
}

.row.space-between {
  justify-content: space-between;
}

.row.center {
  justify-content: center;
}

a {
  text-decoration: none;
}

/* ================= Header ================= */
.header {
  padding-top: calc(38px - var(--padding-nav));
  position: sticky;
  top: calc((38px - var(--padding-nav)) * -1);
  z-index: 1;
  background-color: var(--blue-1);
}

.header .nav {
  display: flex;
  align-items: center;
  padding: var(--padding-nav) 0;
}

.header .logo-img {
  display: block;
}

.header .menu-list {
  margin-left: 64px;
  display: flex;
}

.header .menu-link {
  padding: 14px;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
}

.header .menu-link:hover {
  text-decoration: underline;
}

.header .actions {
  margin-left: auto;
}

.header .sign-in {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary);
}

.header .btn-sign-up {
  margin-left: 18px;
  padding: 13px 18px;
  font-size: 1.4rem;
  line-height: 1;
  border-radius: 8px;
}

/* ================= Hero ================= */

.hero {
  height: calc(100vh - 94px);
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--blue-1);
}

.hero .info {
  width: 51.4%;
}

.hero .sub-heading {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero .heading {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 118.75%;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 177.778%;
}

.hero .action {
  margin-top: 40px;
  min-width: 170px;
}

.hero .hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100% - 1110px) / 2 - 100px);
}

/* ================= Client ================= */
.client {
  margin-top: 79px;
  padding-top: 43px;
  padding-bottom: 41px;
}

.client .desc {
  margin-top: 16px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
}

.client-logos {
  margin-top: 70px;
}

/* ================= Guide ================= */
.guide {
  margin-top: 40px;
  padding-top: 79px;
  padding-bottom: 79px;
}

.guide-text-box {
  text-align: center;
}

.guide .sub-heading {
  font-size: 3.5rem;
  font-weight: 600;
  position: relative;
  color: var(--heading);
}

.guide .sub-heading::before {
  content: "";
  width: 41px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background: var(--heading);
}

.guide .desc {
  width: 459px;
  margin: 20px auto 0;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.guide-list {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-list .title {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
}

.guide-link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
}

.guide-link .icon-arrow {
  margin-left: 8px;
}

.guide .btn-action {
  min-width: 170px;
  margin-top: 50px;
}

/* ================= Feature ================= */
.feature {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.feature .sub-heading {
  color: var(--heading);
  font-size: 3.5rem;
  font-weight: 600;
}

.feature .box-desc {
  margin-top: 15px;
}

.feature .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.feature-link {
  color: var(--link);
  font-size: 1.8rem;
  font-weight: 600;
}

.feature-list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.feature-item {
  flex: 1;
  border-radius: 12px;
}

.feature-item .thumb {
  width: 100%;
  height: 227px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.feature-item .body {
  padding: 17px 20px 24px;
  background: var(--white);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.feature-item .title a {
  color: var(--heading);
  font-size: 2rem;
  font-weight: 600;
}

.feature-item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.feature-item .info {
  margin-top: 20px;
}

.feature-item .info-item {
  margin-left: 22px;
}

.feature-item .info-item:first-child {
  margin-left: 0;
}

.feature-item .info-item p {
  margin-left: 8px;
  color: #444;
  font-size: 1.4rem;
  font-weight: 500;
}

/* ================= Header ================= */
.stats {
  margin-top: 75px;
  padding: 50px;
}

.stats .container {
  width: 1017px;
}

.stats .wrap-info {
  display: flex;
}

.stats .image-block {
  width: 51.131%;
  max-width: 100%;
  position: relative;
}

.stats .image-block .image {
  width: 400px;
  height: 460px;
  margin-left: auto;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}

.stats .info {
  padding-left: 165px;
  padding-top: 79px;
}

.stats .info .sub-heading {
  width: 269px;
  color: var(--heading);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.28571;
  position: relative;
}

.stats .info .sub-heading::before {
  content: "";
  width: 41px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 0;
  background: var(--heading);
  border-radius: 12px;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  color: var(--text-desc);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}

.stat-social-block {
  width: 239px;
  height: 252px;
  padding: 45px 22px 40px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 0px 12px 12px;
  background: var(--white);
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats .stat-number {
  color: var(--heading);
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.26px;
}

.stat-social-block .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.stat-social-block .separate {
  margin-top: 25px;
  margin-bottom: 0;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
}

.stats .avatar-block {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 13.92px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  width: 16.337px;
  height: 16.337px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 16.337px;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);

  color: var(--white);
  text-align: center;
  font-size: 0.7261rem;
  line-height: 16.337px;
  font-weight: 400;
  background: var(--background, #1f3bb1);
}
